<nav class="navbar sticky-top navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
            [ngStyle]="{color: 'white'}">Recipe Tracker</a>
        </div>
        <div class="form-inline">
            <button class="btn btn-primary"
                [routerLink]="['/shopping-list']" routerLinkActive="router-link-active" >
                Shopping List
            </button>
            <button class="btn btn-primary"
                [routerLink]="['/recipe-book']" routerLinkActive="router-link-active" >
                Recipe Book
            </button>
        </div>
    </div>
</nav>
